.login-box {
  width: 250px;
  margin: 100px auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 6px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 95%;
  padding: 8px;
  margin-top: 8px;
  cursor: pointer;
}
