.container {
  text-align: center;
  margin-top: 20px;
}

.nav-links {
  margin-bottom: 20px;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: blue;
  font-weight: 500;
}

.nav-links a.active {
  text-decoration: underline;
  font-weight: bold;
}

.content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
